section.intro 
    .intro__container
        h1.title__intro-title-1 New Single
        h1.title__intro-title-2 War For Love
        .song
            btn.btn__btn-play
            .audi-track 
            p.text__timer
    .intro-block
        .intro-block__item1 
            .block-item__description
            p.text__text-description 
        .intro__block__item2 
            .block-item__description
            p.text__text-description
        .intro-block__item3 
            .block-item__description
            p.text__text-description  
